{% extends 'avo_business/base3.html.twig' %}


{% block body %}
	<!-- /Navigation-->
	<div class="content-wrapper">
		<div
			class="container-fluid">
			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="avobusiness/#">Tableau de bord</a>
				</li>
				<li class="breadcrumb-item active">Ma Journal</li>
			</ol>


			<!-- /.container-fluid-->
		</div>
		<!-- /.container-wrapper-->
		<footer class="sticky-footer">
			<div class="container">
				<div class="text-center">
					<small>Copyright © AvoConsulte 2021</small>
				</div>
			</div>
		</footer>
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="avobusiness/#page-top">
			<i class="fa fa-angle-up"></i>
		</a>
		<!-- Logout Modal-->
		<!-- Bootstrap core JavaScript-->
		<script src="avobusiness/vendor/jquery/jquery.min.js"></script>
		<script src="avobusiness/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- Core plugin JavaScript-->
		<script src="avobusiness/vendor/jquery-easing/jquery.easing.min.js"></script>
		<!-- Page level plugin JavaScript-->
		<script src="avobusiness/vendor/chart.js/Chart.js"></script>
		<script src="avobusiness/vendor/datatables/jquery.dataTables.js"></script>
		<script src="avobusiness/vendor/datatables/dataTables.bootstrap4.js"></script>
		<script src="avobusiness/vendor/jquery.selectbox-0.2.js"></script>
		<script src="avobusiness/vendor/retina-replace.min.js"></script>
		<script src="avobusiness/vendor/jquery.magnific-popup.min.js"></script>
		<!-- Custom scripts for all pages-->
		<script src="avobusiness/js/admin.js"></script>
		<!-- Custom scripts for this page-->
		<script src="avobusiness/js/admin-charts.js"></script>
	</body>
</html>{% endblock %}{% block footer %}{% endblock %}
