{% extends 'base.html.twig' %}
{% block body %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T2DZKVP');</script>
<!-- End Google Tag Manager 
        <link rel="alternate" hreflang="ar" href="https://www.avoconsulte.com" />-->
        <!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-194184846-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-194184846-1');
</script>



    <base href="/">
    <?php header("Content-Type: text/html;charset=UTF-8"); ?>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Trouvez les meillieurs avocats en Tunisie et prenez votre rendez-vous en ligne">
	<meta property="og:title" content="AvoConsulte.com : Chercher et trouvez les meillieur avocat en tunisie et prenez votre rendez-vous en ligne - avoconsulte.com" />
		<meta name="keywords" content="avocats , avocat , Avocat Tunisie , Avocat En Tunisie , Palais de justice Tunis , Avocat Tunisien ,Avocats Tunis ,ordre des avocats Tunisien ,Cabinet D'avo,">

    <meta property="og:description" content="Trouvez rapidement un avocat, notaire ou un huissier près de chez vous et prenez rendez-vous gratuitement en ligne en quelques clics !. Annuaire des avocats tunisie" />
    <meta property="og:type" content="website" />
	<meta name="author" content="Avoconsulte">
	<title>Trouvez les meillieurs avocats en ligne - AvoConsulte</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="/img/16.png" type="image/x-icon">
	<link rel="apple-touch-icon" type="/image/x-icon" href="img/fav_icon.png">
	<link rel="apple-touch-icon" type="/image/x-icon" sizes="72x72" href="img/72.png">
	<link rel="apple-touch-icon" type="/image/x-icon" sizes="114x114" href="img/114.png">
	<link rel="apple-touch-icon" type="/image/x-icon" sizes="144x144" href="img/144.png">
    
    <!-- GOOGLE WEB FONT 
    <link rel='preload' as="font" href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800' crossorigin="anonymous"/>-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel='preload' as="font" href='https://fonts.googleapis.com/css2?family=Average+Sans&family=Roboto:ital,wght@0,400;1,300;1,500&display=swap' crossorigin="anonymous"/>
	<!-- BASE CSS -->
	<link href="../fr/css/bootstrap.min.css" rel="stylesheet">
	<link href="../fr/css/style.css" rel="stylesheet">
	<link href="../fr/css/menu.css" rel="stylesheet" media="print" onload="this.media='all'">
	<link href="../fr/css/vendors.css" rel="stylesheet" media="print" onload="this.media='all'">
	<link rel='preload'  as="font" href="../css/icon_fonts/css/all_icons_min.css" rel="stylesheet" media="print" onload="this.media='all'" crossorigin="anonymous"/>
    <!-- SPECIFIC CSS -->

	<!-- YOUR CUSTOM CSS -->
</head>
<body>
	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->
    <!-- 	<div id="preloader">
		<div data-loader="circle-side"></div>
	    </div> -->
    
    <header class="header_sticky">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-6">
					<div id="logo_home">
					<a href="/fr/" title="AvoConsulte"></a>
					</div>
				</div>
				<nav class="col-lg-9 col-6">
					<a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="#0"><span>Menu mobile</span></a>

					<div class="main-menu">
						<ul>
							<li class="submenu"  class="icon-down-open-mini">
								<a href="/fr/" >Accueil</a>
							</li>
                            <li class="submenu"  class="icon-down-open-mini">
								<a href="/Magazine-Juridique/" >Magazine-Juridique</a>
							</li>
							<li class="submenu"  class="icon-down-open-mini">
								<a href="/Qestions-Reponses/" >Conseils  Juridiques</a>
							</li>
							<li class="submenu"  class="icon-down-open-mini">
								<a href="/Qui-Somme-Nous/" >Qui-Somme Nous ?</a>
							</li>
							<li class="submenu"  class="icon-down-open-mini">
								<a href="/Contactez-Nous/" >Contactez Nous</a>
							</li>
							<li class="thin"  class="icon-down-open-mini">
							   <a href="#"  class="thin"  >  Langue ▼</a>
  							<ul>
                              <li><a href="/" >العربية</a></li>
							 <li><a href="/fr/" >Français</a></li>
							</ul>
							</li>
							
						</ul>
						
					</div>
					
					<!-- /main-menu -->
				</nav>
			</div>
						<div class="Menu_compte">
						<a href="/Mon-Compte/">compte</a>
					</div>
		</div>
		<!-- /container -->
	</header>
	<!-- /header -->
	
	<main>
		<div class="hero_home version_3">

			<div class="content">
			    
					<h1>Trouver Un Avocat Près De Chez Vous</h1>
					<p class="fadeInUp animated">Cherchez et trouvez les avocats en Tunisie et prenez votre rendez-vous en ligne
					</p>
				<form method="POST" action="/Avocats/">
					<div id="custom-search-input">
						<div class="input-group">
						    <input type="text" class=" search-bar input-group" placeholder="Nom,Specialité..." name="key">
							<select name="Gouvernorat" class="search-drop" required>
							 <option value="" >Gouvernorat</option>
                             <option value="Tunis" >Tunis</option>
                             <option value="Ariana" >Ariana</option>
                             <option value="Ben arous" >Ben arous</option>
                             <option value="Manouba" >Manouba</option>
                             <option value="Sousse" >Sousse</option>
                             <option value="Sfax" >Sfax</option>
                             <option value="Gabes" >Gabes</option>
                             <option value="Médenine" >Médenine</option>
                             <option value="Mahdia" >Mahdia</option>
                             <option value="Béja" >Béja</option>
                             <option value="Bizerte" >Bizerte</option>
                             <option value="Gafsa" >Gafsa</option>
                             <option value="Jendouba" >Jendouba</option>
                             <option value="Kairouan" >Kairouan</option>
                             <option value="Kasserine" >Kasserine</option>
                             <option value="Kef" >Le Kef</option>
                             <option value="Monastir" >Monastir</option>
                             <option value="Nabeul" >Nabeul</option>
                             <option value="Sidi Bouzid" >Sidi Bouzid</option>
                             <option value="Siliana" >Siliana</option>
                             <option value="Tataouine" >Tataouine</option>
                             <option value="Tozeur" >Tozeur</option>
                             <option value="Zaghouan" >Zaghouan</option>
                             <option value="Zaghouan" >Zaghouan</option>
                             <option value="Kébili" >Kébili</option>
							

                      <!--      <select name="language" class="form-control" >
                                  <option>Arabe</option>
                                  <option>Français</option></select> -->
                                  
							<input type="submit" class="btn_search" value="Recherche">
						</div>
					<!-- 	<ul>
							<li>
								<input type="radio" id="all" value="all" checked>
								<label for="all">Avocats</label>
							</li>
						 	<li>
								<input type="radio" id="doctor" name="radio_search" value="Notaire">
								<label for="doctor">Notaire</label>
							</li>
							<li>
								<input type="radio" id="clinic" name="radio_search" value="Huissier">
								<label for="clinic">Huissier</label>
							</li> 
						</ul> -->
						
					</div>
				</form>
				</div>
		</div>
		<!-- /Hero -->
		<div class="bg_color">
		    		    <div class="container margin_120_95">
			<div class="row add_bottom_30">
                <div class="col-lg-8">
					<div class="box_feat2" >
						<h3>Consultez un avocat maintenant</h3><br>
				<p>Des conseils juridiques  des avocats en Tunisie, une confidentialité totale et une réponse fiable</p>
					<p class="text-center"><a href="/Consultation-Juridique/" class="btn_1 medium">Posez une question</a></p>

					</div>
				</div>
				<div class="col-lg-4">
					<div class="box_feat2">
                    <h3>Les questions les plus récentes</h3><br>
<?php 

include "services/crud.php";

$crud = new crud() ; 

$conn = $crud->cnx ; 

$ListQR = $crud->afficherqraccueilfr($conn) ; 

foreach ($ListQR as $key) {
?>
					<div class="mySlides"><a href="/Qestions-Reponses/<?php echo $key['url_slug'] ?>/<?php echo $key['id'] ?>/"><strong><?php echo $crud-> limit_text($key['titre'] ,20) ?></strong></a></div> 
				<?php }	?>
					</div>
				</div>
			</div>
			<!-- /row -->
			
<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 5000); // Change image every 5 seconds
}
</script>
		</div>

		<div class="container margin_120_95">
			<div class="main_title">
				<h2>Comment Trouver<strong> Un Avocat</strong></h2>
				<p>AvoConsulte est une platforme de rendez-vous rapide et facile chez un avocat disponible pour vos besoins prévus ou imprévus.</p>
			</div>
			<div class="row add_bottom_30">
				<div class="col-lg-4">
					<div class="box_feat" id="icon_1">
						
						<h3>Trouver Un Avocat</h3>
						<p>Saisissez la spécialité de l'avocat que vous cherchez et votre ville : AvoConsulte vous montre la liste des Avocats disponibles dans la journée autour de vous.</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="box_feat" id="icon_2">
						
						<h3>Voir Profil</h3>
						<p>Vous choisissez le créneau proposé par l'avocat de votre choix, et vous confirmez. Ou consultez les horaires de consultation libre des avocats proches de chez vous.</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="box_feat" id="icon_3">
						<h3>Prendre Son Contact </h3>
						<p>Si vous prenez un rendez-vous, vous recevez dans la foulée un mail à l’adresse que vous avez donnée avec la confirmation aussi que l'avocat reçois votre rendez-vous.</p>
					</div>
				</div>
			</div>
			<!-- /row -->
			<p class="text-center"><a href="/Avocats/" class="btn_1 medium">Voir tous les Avocats</a></p>

		</div>
	</div>
		<!-- /container -->

		<div class="bg_color">
			<div class="container margin_120_95">
				<div class="main_title">
					<h2>MAGAZINE <strong>JURIDIQUE</strong></h2>
					<p>Magazine Juridique Avoconsulte contenant des informations utiles et toute actualités</p>
				</div>
				<div class="row">
					<?php 

$Listblog = $crud->afficherblogaccueilfr($conn) ; 

foreach ($Listblog as $key) {

?>
					<div class="col-lg-4 col-md-6">
						<div class="box_list home">
							<figure>
								<a href="/Magazine-Juridique/<?php echo $key['url_slug'] ?>/<?php echo $key['id'] ?>/"><img src="https://avoconsulte.com/img/<?php echo $key['image'] ?>" class="img-fluid" alt="Avocat tunisie"></a>
								<div class="preview"><span>Lire la suite</span></div>
							</figure>
							<div class="wrapper">
							<small><?php echo $key['categorie'] ?></small>
								<a href="/Magazine-Juridique/<?php echo $key['url_slug'] ?>/<?php echo $key['id'] ?>/"><h4><?php echo $key['titre'] ?></h4></a>
								<p><?php echo $crud-> limit_text($key['body'] , 30)  ?></p>
							</div>
						</div>
					</div>
<?php }  ?>
				</div>
				<!-- /row -->
				<p class="text-center add_top_30"><a href="/Magazine-Juridique/" class="btn_1 medium">Voir tous les articles</a></p>
			</div>
			<!-- /container -->
		</div>
		
		
		
		
		
		
		<div class="bg_color">
			<div class="container margin_120_95">
				<div class="main_title">
					<h2>Conseils <strong>Juridiques</strong></h2>
					<p>Posez votre question à un avocat et consultez la liste des questions et leurs réponses plus tard.</p>
				</div>
				<div class="row">
<?php 
$ListQR = $crud->afficherqraccueilfr($conn) ; 
foreach ($ListQR as $key) { ?>
					<a href="/Qestions-Reponses/<?php echo $key['url_slug'] ?>/<?php echo $key['id'] ?>/"><div class="col-md-4">
			        <div class="about-review">
                   <div class="rating">
                     <a href="/Qestions-Reponses/<?php echo $key['url_slug'] ?>/<?php echo $key['id'] ?>/"><?php echo $key['titre'] ?></a>
                    </div>
                    <p><?php echo $crud-> limit_text($key['reponse'] , 30)  ?></p>
			        </div>
			    </div></a>
               <?php }  ?>
				</div>
				<!-- /row -->
				<p class="text-center add_top_30"><a href="/Qestions-Reponses/" class="btn_1 medium">Voir toutes les Conseils Juridiques</a></p>
			</div>
			<!-- /container -->
		</div>
		
		
		
		
		
		

			</div>
			<!-- /container -->
		</div>
		<!-- /app_section -->
	</main>
	<!-- /main content -->
	
<?php include 'template/footer.php'; ?>

</body>

</html>
{% endblock %}