{% extends 'base.html.twig' %}
{% block body %}
<!DOCTYPE html>
<html lang="fr">
    <!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
_atrk_opts = { atrk_acct:"BFDww1WyR620WR", domain:"avoconsulte.com",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://certify.alexametrics.com/atrk.gif?account=BFDww1WyR620WR" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->  
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T2DZKVP');</script>
<!-- End Google Tag Manager 
        <link rel="alternate" hreflang="ar" href="https://www.avoconsulte.com" />-->
        <!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-194184846-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-194184846-1');
</script>



    <base href="/">
    <?php header("Content-Type: text/html;charset=UTF-8"); ?>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Magazine Juridique | Actualité - Trouvez les meillieurs avocats en Tunisie et Prendre RDV en ligne - AvoConsulte">
	<meta property="og:title" content="AvoConsulte.com : Chercher et trouvez les meillieur avocat en tunisie et prenez votre rendez-vous en ligne - avoconsulte.com" />
		<meta name="keywords" content="جدول المحامين بتونس, جدول المحامين, ارقام هواتف محامين في تونس, محامي, 
onat, onat tunisie, ordre des avocats, ordre national des avocats, الفرع الجهوي للمحامين بتونس ,المحاماة , ارقام هواتف محامين في تونس ,استشارات قانونية عقارية تونس , نور الدين بن عياد 
,استشارات قانونية في الطلاق تونس ,  avocats , avocat , Avocat Tunisie , Avocat En Tunisie ,
 Palais de justice Tunis , Avocat Tunisien ,Avocats Tunis ,ordre des avocats Tunisien ,Cabinet D'avocat,
محامون ، محامي ، محام تونسي ، محامي تونس ، محكمة تونس ، محامي تونسي ، محامون تونس 
، نقابة المحامين التونسية 
، ديوان دافو ,جدول المحامين بتونس, جدول المحامين, ارقام هواتف محامين في تونس, محامي,دليل المحامين التونسيين">

    <meta property="og:description" content="Magazine Juridique | Actualité - Trouvez rapidement un avocat, notaire ou un huissier près de chez vous et prenez rendez-vous gratuitement en ligne en quelques clics !. Annuaire des avocats tunisie" />
    <meta property="og:type" content="website" />
	<meta name="author" content="Avoconsulte">
	<title>Magazine Juridique | Actualité - AvoConsulte</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="/img/16.png" type="image/x-icon">
	<link rel="apple-touch-icon" type="/image/x-icon" href="img/fav_icon.png">
	<link rel="apple-touch-icon" type="/image/x-icon" sizes="72x72" href="img/72.png">
	<link rel="apple-touch-icon" type="/image/x-icon" sizes="114x114" href="img/114.png">
	<link rel="apple-touch-icon" type="/image/x-icon" sizes="144x144" href="img/144.png">
    
    <!-- GOOGLE WEB FONT 
    <link rel='preload' as="font" href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800' crossorigin="anonymous"/>-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel='preload' as="font" href='https://fonts.googleapis.com/css2?family=Average+Sans&family=Roboto:ital,wght@0,400;1,300;1,500&display=swap' crossorigin="anonymous"/>
	<!-- BASE CSS -->
	<link href="../fr/css/bootstrap.min.css" rel="stylesheet">
	<link href="../fr/css/style.css" rel="stylesheet">
	<link href="../fr/css/menu.css" rel="stylesheet" media="print" onload="this.media='all'">
	<link href="../fr/css/vendors.css" rel="stylesheet" media="print" onload="this.media='all'">
	<link rel='preload'  as="font" href="../css/icon_fonts/css/all_icons_min.css" rel="stylesheet" media="print" onload="this.media='all'" crossorigin="anonymous"/>
    <link href="../fr/css/blog.css" rel="stylesheet" media="print" onload="this.media='all'">
    <!-- SPECIFIC CSS -->
    <link href="../fr/css/date_picker.css" rel="stylesheet" media="print" onload="this.media='all'">
    
	<!-- YOUR CUSTOM CSS -->
	<link href="../fr/css/custom.css" rel="stylesheet">
</head>
	


<body>

	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

<!-- 	<div id="preloader">
		<div data-loader="circle-side"></div>
	    </div> -->
    
	<header class="header_sticky">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-6">
					<div id="logo_home">
						<a href="/fr/" title="AvoConsulte"></a>
					</div>
				</div>
				<nav class="col-lg-9 col-6">
					<a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="#0"><span>Menu mobile</span></a>

					<div class="main-menu">
						<ul>
							<li class="submenu"  class="icon-down-open-mini">
								<a href="/fr/" >Accueil</a>
							</li>
                            <li class="submenu"  class="icon-down-open-mini">
								<a href="/Magazine-Juridique/" >Magazine-Juridique</a>
							</li>
							<li class="submenu"  class="icon-down-open-mini">
								<a href="/Qestions-Reponses/" >Conseils  Juridiques</a>
							</li>
							<li class="submenu"  class="icon-down-open-mini">
								<a href="/Qui-Somme-Nous/" >Qui-Somme Nous ?</a>
							</li>
							<li class="submenu"  class="icon-down-open-mini">
								<a href="/Contactez-Nous/" >Contactez Nous</a>
							</li>
							<li class="thin"  class="icon-down-open-mini">
							   <a href="#"  class="thin"  >  Langue ▼</a>
  							<ul>
                              <li><a href="/" >العربية</a></li>
							 <li><a href="/fr/" >Français</a></li>
							</ul>
							</li>
							
						</ul>
						
					</div>
					
					<!-- /main-menu -->
				</nav>
			</div>
		</div>
		<!-- /container -->
	</header>
	<!-- /Header -->
	
	<main>
		<div id="breadcrumb">
			<div class="container">
				<ul>
					<li><a href="/">AvoConsulte</a></li>
					<li>Magazine Juridique</li>
				</ul>
			</div>
		</div>
		<!-- /breadcrumb -->

		<div class="container margin_60">
			<div class="main_title">
				<h1>Magazine <strong>Juridique</strong></h1>
				<p>Magazine Juridique Avoconsulte contenant des informations utiles et toute actualités</p>
			</div>
			<div class="row">
				<div class="col-lg-9">

<div id="renderBlog"  >
    <?php 

include "services/crud.php";

$crud = new crud() ; 

$conn = $crud->cnx ; 


$Listblog = $crud->ShowMoreBlogs($conn,3) ; ?>
<input type="hidden" name="" value="<?php echo count($Listblog) ?>" id="id"> 

<?php

foreach ($Listblog as $key) {
?>
					<article class="blog">
						<div class="row no-gutters">
							<div class="col-lg-7">
								<figure>
									<a href="/Magazine-Juridique/<?php echo $key['url_slug'] ?>/<?php echo $key['id'] ?>/"><img src="https://avoconsulte.com/img/<?php echo $key['image'] ?>" alt="<?php echo $key['titre'] ?>"><div class="preview"><span>Read more</span></div></a>
								</figure>
							</div>
							<div class="col-lg-5">
								<div class="post_info">
									<small><?php echo $key['temps'] ?> </small>
									<h3><a href="/Magazine-Juridique/<?php echo $key['url_slug'] ?>/<?php echo $key['id'] ?>/"><?php echo $key['titre'] ?></a></h3>
									<p><?php echo $crud-> limit_text($key['body'] , 50)  ?></p>
								</div>
							</div>
						</div>
					</article>

					<?php } ?>
					                  				</div>
  	<center>	<p class="btn_1 medium" onclick="showMoreBlogs()">Afficher Plus</p></cente
					<!-- /article -->

				
					<!-- /article -->
					

					<!-- /pagination -->
				</div>
				<!-- /col -->
				
				<aside class="col-lg-3">
				<!--	<div class="widget">
						<form>
							<div class="form-group">
								<input type="text" name="search" id="search" class="form-control" placeholder="Recherche...">
							</div>
							<button type="submit" id="submit" class="btn_1"> Recherche</button>
						</form>
					</div>
					 /widget -->


					<div class="widget">
						<div class="widget-title">
							<h4>Les blog le plus récent</h4>
						</div>

						<ul class="comments-list">
<?php
$Listblog = $crud->afficherblogaccueilfr($conn) ; 
foreach ($Listblog as $key) {
?>
							<li>
								<div class="alignleft">
									<a href="/Magazine-Juridique/<?php echo $key['url_slug'] ?>/<?php echo $key['id'] ?>/"><img src="https://avoconsulte.com/img/<?php echo $key['image'] ?>" alt="<?php echo $key['titre'] ?>"></a>
								</div>
								<small><?php echo $key['temps'] ?></small>
								<h3><a href="/Magazine-Juridique/<?php echo $key['url_slug'] ?>/<?php echo $key['id'] ?>/" title=""><?php echo $key['titre'] ?></a></h3>
							</li>
							<?php } ?>
						</ul>
					</div>
				
					<!-- /widget 

					<div class="widget">
						<div class="widget-title">
							<h4>Blog Categories</h4>
						</div>
						<ul class="cats">
							<li><a href="#">Treatments <span>(12)</span></a></li>
						</ul>
					</div>
					 /widget -->

				<!--	<div class="widget">
						<div class="widget-title">
							<h4>Popular Tags</h4>
						</div>
						<div class="tags">
							<a href="#">Medicine</a>
						</div>
					</div>
					 /widget -->
					
				</aside>
				<!-- /aside -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</main>
	<!-- /main -->
		<script>

function showMoreBlogs() {


	var id =  document.getElementById("id").value ;
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById("renderBlog").innerHTML = this.responseText;
      }
    };
    xmlhttp.open("GET","fr/renderBlog.php?d="+id,true);
    xmlhttp.send();
  
}

</script>
	

   
</body>
</html>
{% endblock %}