<html lang="en">

	<head>

		<base href="/">
		<?php header("Content-Type: text/html; charset=UTF-8"); ?>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="اعثر بسرعة على محامٍ بالقرب منك وحدد موعدًا مجانًا عبر الإنترنت ببضع نقرات - دليل المحامين التونسيين AvoConsulte.com">
		<title>AvoConsulte ابحث واعثر على أفضل محام في تونس - قائمة المحامين بتونس</title>
		<meta name="keywords" content="جدول المحامين بتونس, جدول المحامين, ارقام هواتف محامين في تونس, محامي,
																																	onat, onat tunisie, ordre des avocats, ordre national des avocats, الفرع الجهوي للمحامين بتونس ,المحاماة , ارقام هواتف محامين في تونس ,استشارات قانونية عقارية تونس , نور الدين بن عياد
																																	,استشارات قانونية في الطلاق تونس ,  avocats , avocat , Avocat Tunisie , Avocat En Tunisie ,
																																	 Palais de justice Tunis , Avocat Tunisien ,Avocats Tunis ,ordre des avocats Tunisien ,Cabinet D'avocat,
																																	محامون ، محامي ، محام تونسي ، محامي تونس ، محكمة تونس ، محامي تونسي ، محامون تونس
																																	، نقابة المحامين التونسية
																																	، ديوان دافو ,جدول المحامين بتونس, جدول المحامين, ارقام هواتف محامين في تونس, محامي,دليل المحامين التونسيين">
		<meta property="og:url" content="https://www.avoconsulte.com/">
		<meta property="og:type" content="website">
		<meta property="og:title" content="ابحث واعثر على أفضل محام في تونس واحجز موعدك عبر الإنترنت - دليل المحامين التونسيين - دليل المحامين التونسيين">
		<meta
		property="og:image" content="https://www.avoconsulte.com/img/avoconsulte_com_logo.png">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="avoconsulte.com">
		<meta property="twitter:url" content="https://www.avoconsulte.com/">
		<meta name="twitter:title" content="ابحث واعثر على أفضل محام في تونس واحجز موعدك عبر الإنترنت ">
		<meta name="twitter:image" content="https://www.avoconsulte.com/img/avoconsulte_com_logo.png">
		<meta name="author" content="Avoconsulte">
		<link rel="shortcut icon" href="/img/16.png" type="image/x-icon">
		<link rel="apple-touch-icon" type="/image/x-icon" href="img/fav_icon.png">
		<link rel="apple-touch-icon" type="/image/x-icon" sizes="72x72" href="img/72.png">
		<link rel="apple-touch-icon" type="/image/x-icon" sizes="114x114" href="img/114.png">
		<link
		rel="apple-touch-icon" type="/image/x-icon" sizes="144x144" href="img/144.png">

		<!-- GOOGLE WEB FONT -->
		<link
		rel='preload' as="font" href='https://fonts.googleapis.com/css2?family=Tajawal:wght@300;500&display=swap' crossorigin="anonymous"/>

		<!-- BASE CSS -->
		<link href="../css/bootstrap.min.css" rel="stylesheet">
		<link href="../css/style.css" rel="stylesheet">
		<link
		href="../css/menu.css" rel="stylesheet" media="print" onload="this.media='all'">
		<!--	<link href="../css/vendors.css" rel="stylesheet" media="print" onload="this.media='all'"> -->
		<link rel='preload' as="font" href="../css/icon_fonts/css/all_icons_min.css" rel="stylesheet" media="print" onload="this.media='all'" crossorigin="anonymous"/>
		<link
		href="../css/blog.css" rel="stylesheet" media="print" onload="this.media='all'">
		<!-- SPECIFIC CSS -->
		<link href="../css/date_picker.css" rel="stylesheet" media="print" onload="this.media='all'">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link
		href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;500&display=swap" rel="stylesheet">

		<!-- YOUR CUSTOM CSS -->
		<link href="../css/custom.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<meta charset="UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="Ansonika">
		<title>AvoBusiness - Tableau de bored
		</title>

		<!-- Favicons-->
		<link rel="shortcut icon" href="avobusiness/img/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" type="image/x-icon" href="avobusiness/img/apple-touch-icon-57x57-precomposed.png">
		<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="avobusiness/img/apple-touch-icon-72x72-precomposed.png">
		<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="avobusiness/img/apple-touch-icon-114x114-precomposed.png">
		<link
		rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="avobusiness/img/apple-touch-icon-144x144-precomposed.png">

		<!-- GOOGLE WEB FONT -->
		<link
		href="avobusiness/https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">

		<!-- Bootstrap core CSS-->
		<link
		href="avobusiness/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!-- Icon fonts-->
		<link
		href="avobusiness/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<!-- Plugin styles -->
		<link
		href="avobusiness/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
		<!-- Main styles -->
		<link
		href="avobusiness/css/admin.css" rel="stylesheet">
		<!-- Your custom styles -->
		<link href="avobusiness/css/admin.css" rel="stylesheet">

	</head>
	<title>
		{% block title %}Welcome!
		{% endblock %}
	</title>
	{# Run `composer require symfony/webpack-encore-bundle`
										           and uncomment the following Encore helpers to start using Symfony UX #}
	{% block stylesheets %}
		{#{{ encore_entry_link_tags('app') }}#}
	{% endblock %}

	{% block javascripts %}
		{#{{ encore_entry_script_tags('app') }}#}
	{% endblock %}
</html></head><body></body><body
class="fixed-nav sticky-footer" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">
	<a class="navbar-brand" href="/"><img src="img/Logo1.2-10.svg" data-retina="true" alt="" width="163" height="36"></a>
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div dir="rtl" class="collapse navbar-collapse text-right" id="navbarResponsive">
		<ul class="navbar-nav navbar-sidenav" id="exampleAccordion"></li>
		<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Jounal">
			<a class="nav-link" href="/حسابي/الأسئلة">
				<i class="fa fa-question-circle-o"></i>
				<span class="nav-link-text">أسئلتي</span>
			</a>
		</li>
		<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Jounal">
			<a class="nav-link" href="/حسابي/أسئلتي">
				<i class="fa fa-question-circle-o"></i>
				<span class="nav-link-text">استشارات قانونية</span>
			</a>
		</li>
		<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Bookings">
			<a class="nav-link" href="/حسابي/مواعيد">
				<i class="fa fa-fw fa-calendar-check-o"></i>
				<span class="nav-link-text">مواعيد
					<span class="badge badge-pill badge-primary">0</span>
				</span>
			</a>
		</li>
		<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Profil">
			<a class="nav-link" href="/حسابي/الملف-الشخصي">
				<i class="fa fa-user"></i>
				<span class="nav-link-text">الملف الشخصي</span>
			</a>
		</li>
		<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Deconnecter">
			<a class="nav-link" href="/خروج/">
				<i class="fa fa-sign-out"></i>
				<span class="nav-link-text">خروج</span>
			</a>
		</li>
	</ul>
	<ul class="navbar-nav sidenav-toggler">
		<li class="nav-item">
			<a class="nav-link text-center" id="sidenavToggler">
				<i class="fa fa-fw fa-angle-left"></i>
			</a>
		</li>
	</ul>

</div></body></html></nav>{% block body %} {% endblock %}
{% block footer %}

	<footer class="sticky-footer">
			<div class="container">
				<div class="text-center">
					<small>Copyright © AvoConsulte 2021</small>
				</div>
			</div>
		</footer>
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top">
			<i class="fa fa-angle-up"></i>
		</a>
		<!-- Logout Modal-->
		<!-- Bootstrap core JavaScript-->
		<script src="avobusiness/vendor/jquery/jquery.min.js"></script>
		<!-- Core plugin JavaScript-->
		<script src="avobusiness/vendor/jquery-easing/jquery.easing.min.js"></script>
		<!-- Page level plugin JavaScript-->
		<script src="avobusiness/vendor/chart.js/Chart.min.js"></script>
		<script src="avobusiness/vendor/datatables/jquery.dataTables.js"></script>
		<script src="avobusiness/vendor/datatables/dataTables.bootstrap4.js"></script>
		<script src="avobusiness/vendor/jquery.selectbox-0.2.js"></script>
		<script src="avobusiness/vendor/retina-replace.min.js"></script>
		<script src="avobusiness/vendor/jquery.magnific-popup.min.js"></script>
		
{% endblock %}
