{% extends 'user/base2.html.twig' %}
{% block body %}
	<!-- /Navigation-->
	<div class="content-wrapper">
		<divdir="rtl"
			class="container-fluid">
			<!-- Breadcrumbs-->
			<center><h3>استشاراتي القانونية </h3></center>
			<!-- /.container-fluid-->

		</div>
		<!-- /.container-wrapper-->
	
	{% endblock %}
