{% extends 'user/base2.html.twig' %}
{% block body %}
	<!-- /Navigation-->
	<div class="content-wrapper">
		<div
			dir="rtl" class="container-fluid">
			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="#">مواعيدي</a>
				</li>
			</ol>
			<div class="box_general">
				<div class="header_box">
					<h2 class="d-inline-block">Bookings List</h2>

				</div>
				<div class="list_general">
					<ul>
					{% for key in ListRendezVous  %}
						<li>
							<h4>{{key.idavocat.nomar}}
								<i class="approved">Approved</i>
							</h4>
							<ul class="booking_details">
								<li>
									<strong>Booking date</strong>
									11 November 2017</li>
								<li>
									<strong>Booking time</strong>
									10.20AM</li>
								<li>
									<strong>Visits</strong>
									Cardiology test, Diabetic diagnose</li>
								<li>
									<strong>Telephone</strong>
									0043 432324</li>
								<li>
									<strong>Email</strong>
									user@email.com</li>
							</ul>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<!-- /box_general-->
			<!-- /pagination-->
		</div>
		<!-- /container-fluid-->
	</div>
	<!-- /container-wrapper-->
	{% endblock %}
